.coverage
.idea/*
.vscode/*
**/__pycache__/*
build/*
dist/*
doc/*.aux
doc/*.gz
doc/*.log
doc/*.out
doc/*.pdf
doc/*.toc
proset.egg-info/*
scripts/data/*.gz
scripts/data/*.h5
scripts/reports/*.xlsx
scripts/reports/~*.xlsx
scripts/results/*.gz
