.coverage
.idea/*
doc/*.pdf
doc/*.gz
proset/__pycache__/*
proset/benchmarks/__pycache__/*
proset/utility/__pycache__/*
proset/utility/plots/__pycache__/*
test/.pytest_cache/*
test/__pycache__/*
scripts/data/*.csv
scripts/reports/*.xlsx
scripts/reports/~*.xlsx
scripts/results/*.gz
