[MASTER]
extension-pkg-whitelist=numpy

[FORMAT]
max-module-lines=2000
max-line-length=120

[BASIC]
good-names=d,
           i,
           j,
		   x,
		   y,
		   X,
		   ax,
		   ex,
		   ix

[SIMILARITIES]
min-similarity-lines=45  # longest block with false positive duplicate-code has 44 lines

[MESSAGES CONTROL]
disable=consider-using-f-string,
		logging-format-interpolation,
        too-many-arguments,
        too-many-instance-attributes,
        too-many-locals
